*.class
*.ear
*.iws
*.jar
*.log
*.stTheme.cache
*.sublime-workspace
*.tmPreferences.cache
*.war
*jar
*~
.cache
.history
.idea/dataSources.ids
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/dictionaries
.idea/dynamic.xml
.idea/gradle.xml
.idea/jsLibraryMappings.xml
.idea/libraries
.idea/mongoSettings.xml
.idea/sqlDataSources.xml
.idea/tasks.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/workspace.xml
.idea_modules/
.lein-deps-sum
.lein-failures
.lein-plugins/
.lein-repl-history
.lib/
.mtj.tmp/
.mvn/timing.properties
.nrepl-port
.scala_dependencies
.worksheet
/checkouts/
/classes/
/lib/
/out/
/target/
[._]s[a-w][a-z]
atlassian-ide-plugin.xml
buildNumber.properties
com_crashlytics_export_strings.xml
crashlytics-build.properties
crashlytics.properties
dependency-reduced-pom.xml
dist/*
einingen
fabric.properties
hs_err_pid*
lib_managed/
pom.xml
pom.xml.asc
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
pom.xml.versionsBackup
project/boot/
project/plugins/project/
release.properties
sftp-config.json
src_managed/
target/
